@font-face {
  font-family: 'panama';
  src: url("./fonts/panama-bold-webfont.woff2") format("woff2"), url("./fonts/panama-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    padding-top: 90px;
    font-family: panama;
    background: #FFF;
    color: #000 !important;
    font-size: 13px;
}

.navbar-dark {
background: linear-gradient(90deg,#e82c75,#FFC107);
}

.navbar-brand {
  color: #000 !important;
  font-family: "Panama";
  letter-spacing: -1px;
  word-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-indent: 0px;
}

.navbar {
  margin-bottom: 0;
}

.loadingSvg {
  max-height: 40px;
  min-height: 40px;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
}

.headTitle {
  color: #2857bd !important;
}

.image-wrap img {
width: 100%;
min-height: 450px;
height: 450px;
max-height: 450px;
}

.postFooter {
  font-size: 10px;
  color: #2857bd !important;
}

.round {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #000;
  color: #e82c75 !important;
}
.round.round-lg {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  font-size: 1.5em;
}

.likeBtn {
  background-color: #FFF;
  border: none;
}

.navLink {
  color: #000 !important;
}